body {
    background-image:url(https://media1.tenor.com/m/aaEMtGfZFbkAAAAC/rat-spinning.gif)
}
.box{
    width: 50px;
    height: 50px;
    position: relative;
    animation: office 20s 4;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}