header{
    background-color: #424E61;
    color: rgb(255, 255, 255);
}
  
body{
    font-family: 'Poppins' ,sans-serif;
}

.escola{
    background-image: linear-gradient(#424E61,#16CFF8);
}

.estudante{
background-image: darkgrey;
}

.estudante-icone{
 width: 100px;
 height: 100px;
}